body {
    background-image: url("../img/back.png");
    user-select: none;
}

.container {
    border: 6px double black;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
}

img {
    width: 100%;
    height: 100%;
}

.none {
    display: none;
}

.block {
    display: block;
}

.arrow {
    width: 70px;
	height: 70px;
	background: rgba(0,0,0, 0.7);
	border-radius: 50%;
    position: absolute;
    cursor: pointer;
    display: none;
    transition: 300ms;
}

.container:hover .arrow {
    display: block;
}

#right {
    background-image: url("../img/right.png");
    margin: 220px 900px;
}

#left {
    background-image: url("../img/left.png");
    margin: 220px 30px;
}

#m {
    width: 100px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.buttons {
    display: flex;
    width: 200px;
    margin: 20px auto;
    justify-content: center;
}

button {
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: rgb(29, 145, 180);
    cursor: pointer;
    transition: 300ms;
}

button:hover {
    background-color: rgb(44, 29, 180);
}

#b_right {
    margin-left: 5px;
}

#b_left {
    margin-right: 5px;
}

i {
    font-size: 20px;
}